// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form,
.edit,
.create {
    width: 100%;
}

.main {
    margin-left: 30%;
}

.copy-right {
    text-align: right;
}

.comment {
    list-style: none;
}

.comment-text {
    display: flex;
}

.comment-entry {
    margin: 0 30px;
}

ol {
    padding: 0;
}